# Backend - Maven
/backend/carwash-api/target/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea
*.iws
*.iml
*.ipr
.vscode/
.settings
.springBeans
*.class

# Frontend - Angular/Node
/frontend/carwash-ui/node_modules/
/frontend/carwash-ui/dist/
/frontend/carwash-ui/.angular/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
